pandas
numpy
geopandas
shapely
pyproj
fiona
rasterio
rioxarray
xarray
streamlit
pydeck
folium
streamlit-folium
matplotlib
google-generativeai
pystac-client
planetary-computer
requests
dask[complete]
protobuf
